<h1 mat-dialog-title >Add an entry</h1>
<div mat-dialog-content>
<form [formGroup]="paymentForm">

<mat-form-field appearance="outline">
  <mat-label>Add an ID</mat-label>
  <input formControlName="productName" matInput placeholder="ID">
</mat-form-field>

<mat-form-field appearance="outline">

  <mat-label style="color: aliceblue;" >Mode of payment</mat-label>

  <mat-select formControlName="category" placeholder="Mode of payment">

<mat-option value="Online" >Online-paid</mat-option>
<mat-option value="Cash" >Cash</mat-option>
<mat-option value="NA" >Not-Paid</mat-option>

</mat-select >
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Select Payment Date</mat-label>
  <input formControlName="date" matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <!-- <label for="">  <h2> Product Freshness </h2></label>
<mat-radio-group  formControlName="freshness" class="example-radio-group">
  <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList" [value]="fresh" >
    {{fresh}}
  </mat-radio-button>
</mat-radio-group> -->

<mat-form-field appearance="outline">
  <mat-label>Amount</mat-label>
  <input formControlName="price" matInput type="number" placeholder="₹₹">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Description</mat-label>
  <input formControlName="comment" matInput  placeholder="Add your Description">
</mat-form-field>
</form>
</div>

<div mat-dialog-action [align]="'end'" >
  <button mat-raised-button color="warm" mat-dialog-close > Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()" > Save</button>
</div>
